@charset "UTF-8";
* {
  padding: 0;
  margin: 0; }

body {
  height: 100%; }

aside {
  z-index: 10;
  position: fixed;
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: 5px dashed purple;
  color: purple;
  background-color: white;
  font-family: 'Indie Flower', cursive, sans-serif; }
  aside h1 {
    margin-bottom: 5%;
    font-size: 30px; }
  aside .aside_footer {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    aside .aside_footer .link {
      font-size: 30px;
      text-align: end; }
    aside .aside_footer p {
      font-size: 25px; }
  aside a {
    text-decoration: none;
    color: purple; }
  aside ul {
    margin: 10%; }
  aside li {
    list-style-type: none;
    margin: 5% 0;
    font-size: 24px; }
  aside li::before {
    content: "✿";
    text-align: center; }

.container {
  background-color: pink;
  box-sizing: border-box;
  padding: 2%;
  width: 80vw;
  height: 100vh;
  position: absolute;
  right: 0; }
