@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(../css/aside.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box; }

.container {
  box-sizing: border-box;
  padding: 2%;
  width: 80vw;
  position: absolute;
  right: 0;
  background: linear-gradient(to bottom right, white, pink);
  font-family: sans-serif; }

ul {
  list-style-type: none; }

.exercise {
  margin-bottom: 10px; }
  .exercise .one {
    margin: auto;
    height: 175px;
    width: 900px;
    overflow: hidden;
    position: relative;
    border-radius: 10px; }
    .exercise .one ul {
      display: flex;
      height: 160px;
      width: 900px;
      position: absolute;
      left: 0; }
      .exercise .one ul li {
        margin: 5px;
        width: 160px;
        height: 160px;
        border-radius: 5px;
        position: relative; }
        .exercise .one ul li span {
          width: 160px;
          height: 0;
          display: block;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          bottom: 0;
          color: #fff;
          font-size: 0px; }
      .exercise .one ul li:hover span {
        height: 160px;
        line-height: 160px;
        font-size: 20px;
        text-align: center;
        transition: all 0.4s;
        border-radius: 5px; }

.exercise .img {
  width: 160px;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px; }

.exercise .img01 {
  background-image: url(https://mido0417.github.io/GoodideasStudio/mido_t1/template1.png); }

.exercise .img02 {
  background-image: url(https://raw.githubusercontent.com/mido0417/GoodideasStudio/master/mido_t2/Template_2.png); }

.exercise .img03 {
  background-image: url(https://mido0417.github.io/GoodideasStudio/mido_t3/Template_3%20.png); }

.exercise .img04 {
  background-image: url(https://mido0417.github.io/GoodideasStudio/mido_t4/template_4.png); }

.exercise .img05 {
  background-image: url(https://mido0417.github.io/GoodideasStudio/mido_t5/Template_5.png); }

.exercise .img06 {
  background-image: url(https://mido0417.github.io/GoodideasStudio/mido_t6/01/template_6.png); }

.css table {
  margin: 0 auto; }
  .css table td {
    position: relative; }
    .css table td span {
      width: 100%;
      height: 0;
      display: block;
      background-color: rgba(0, 0, 0, 0.4);
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 0px; }
  .css table td:hover span {
    height: 200px;
    line-height: 200px;
    font-size: 25px;
    text-align: center;
    transition: all 0.5s;
    border-radius: 5px; }

.css .img {
  width: 250px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px; }

.css .img01 {
  background-image: url(../css_portfolio/cloud.png); }

.css .img02 {
  background-image: url(../css_portfolio/car.png); }

.css .img03 {
  background-image: url(../css_portfolio/parallax.png); }

.css .img04 {
  background-image: url(); }

.css .img05 {
  background-image: url(); }

.css .img06 {
  background-image: url(); }

.css .img07 {
  background-image: url(); }
