@import url(../css/aside.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    padding: 0;
    margin: 0;
}

header,
.container_mobile {
    display: none;
}

.container {
    box-sizing: border-box;
    width: 80vw;
    position: absolute;
    right: 0;
    background: linear-gradient(to bottom right, white, pink);
    font-family: sans-serif;
}

.CG,
.monster {
    border-bottom: 5px dashed purple;
}

.cards {
    height: 300px;
    list-style-type: none;
    position: relative;
    margin: 15px 0px 0px 40px;
    cursor: pointer;
    .title {
        margin-bottom: 20px;
        h2 {
            font-weight: 700;
        }
    }
    p {
        margin-left: 10px;
    }
}

.card {
    background: #FFF;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    box-shadow: 1px 2px 2px 0 #aaa;
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
    img {
        max-width: 100%;
        height: auto;
    }
}

.card-1 {
    z-index: 1;
    transform: rotateZ(-2deg);
}

.card-2 {
    z-index: 2;
    transform: rotateZ(-7deg);
    transition-delay: 0.05s;
}

.card-3 {
    z-index: 3;
    transform: rotateZ(5deg);
    transition-delay: 0.1s;
}

.card-4 {
    z-index: 4;
    transform: rotateZ(-9deg);
    transition-delay: 0.1s;
}

.card-5 {
    z-index: 5;
    transform: rotateZ(2deg);
    transition-delay: 0.1s;
}

.card-6 {
    z-index: 6;
    top: auto;
    transform: rotateZ(7deg);
    transition-delay: 0.1s;
}

.transition {
    .card-1 {
        transform: rotateZ(0deg);
    }
    .card-2 {
        left: 220px;
        transform: rotateZ(0deg);
    }
    .card-3 {
        left: 440px;
        transform: rotateZ(0deg);
    }
    .card-4 {
        left: 660px;
        transform: rotateZ(0deg);
    }
    .card-5 {
        left: 880px;
        transform: rotateZ(0deg);
    }
    .card-6 {
        top: 330px;
        transition: top 0.5s ease-in-out;
        transform: rotateZ(0deg);
    }
}

// 手機版開始
@media (max-width: 768px) {
    * {
        box-sizing: border-box;
    }
    aside,
    .container {
        display: none;
    }
    header {
        z-index: 10;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid rgb(255, 255, 255);
        background-color: gray;
        box-shadow: 0px 0px 2px 1px rgb(103, 56, 56);
        padding: 0 10px;
        position: sticky;
        top: 0;
        a {
            text-decoration: none;
            color: white;
        }
        .logo {
            order: 2;
            h1 {
                font-size: 20px;
            }
        }
        .menu {
            z-index: 100;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s;
            margin-top: 1px;
            position: absolute;
            top: 50px;
            left: 0;
            right: 0;
            background-color: gray;
            list-style-type: none;
            box-shadow: 0px 0px 1px 1px rgba(158, 158, 158, 0.32);
            li {
                text-align: left;
                padding: 10px 0px 10px 20px;
                border-bottom: 1px solid white;
            }
            li::before {
                content: "✿";
                text-align: center;
            }
        }
        .showmenu {
            .icon {
                width: 30px;
                height: 4px;
                background-color: white;
                border-radius: 2px;
                position: absolute;
                left: 15px;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                transition-timing-function: swing;
            }
            .icon:before,
            .icon:after {
                width: 30px;
                height: 4px;
                background-color: white;
                border-radius: 2px;
                content: "";
                position: absolute;
                left: 0;
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                -webkit-transition-timing-function: swing;
                transition-timing-function: swing;
            }
            .icon:before {
                top: -9px;
            }
            .icon:after {
                top: 9px;
            }
        }
    }
    .menu-show {
        .menu {
            max-height: 360px;
        }
        header {
            .showmenu {
                .icon {
                    width: 0;
                }
                .icon:before {
                    -webkit-transform: translateY(9px) rotate(45deg);
                    -ms-transform: translateY(9px) rotate(45deg);
                    transform: translateY(9px) rotate(45deg);
                }
                .icon:after {
                    -webkit-transform: translateY(-9px) rotate(-45deg);
                    -ms-transform: translateY(-9px) rotate(-45deg);
                    transform: translateY(-9px) rotate(-45deg);
                }
            }
        }
    }
    .container_mobile {
        width: 100%;
        margin-top: 10px;
        display: block;
        background: white;
        overflow: hidden;
        h2{
            margin-left: 10px;
        }       
}

.CG_mobile,
.monster_mobile,
.gameUI_mobile {
    margin-bottom: 10px;
    .one,
    .two,
    .three {
        margin: auto;
        height: 175px;
        width: 300px;
        overflow: hidden;
        position: relative;
        border-radius: 10px;
        ul {
            display: flex;
            height: 160px;
            width: 300px;
            position: absolute;
            left: 0;
            li {
                margin: 5px;
                width: 160px;
                height: 160px;
                border-radius: 5px;
                position: relative;
                list-style-type: none;
                span {
                    width: 160px;
                    height: 0;
                    display: block;
                    background-color: rgba(0, 0, 0, .4);
                    position: absolute;
                    bottom: 0;
                    color: #fff;
                    font-size: 0px;
                }
            }
        }
    }
}

.CG_mobile,
.monster_mobile,
.gameUI_mobile {
    .img {
        width: 160px;
        height: 160px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    .img01 {
        background-image: url(https://i.imgur.com/n8i068I.jpg);
    }
    .img02 {
        background-image: url(https://i.imgur.com/PILLnA2.jpg);
    }
    .img03 {
        background-image: url(https://i.imgur.com/KX7BAd9.png);
    }
    .img04 {
        background-image: url(https://i.imgur.com/EVvqd0C.jpg);
    }
    .img05 {
        background-image: url(https://i.imgur.com/hy0fiFn.jpg);
    }
    .img06 {
        background-image: url(http://i.imgur.com/yiGIJQF.jpg);
    }
    .img07 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/no1_orig.png);
    }
    .img08 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/no1_1_orig.png);
    }
    .img09 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/no2_orig.png);
    }
    .img10 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/no2_1_orig.png);
    }
    .img11 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/1074069943_orig.jpg);
    }
    .img12 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/307145411_orig.jpg);
    }
    .img13 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/224211504_orig.jpg);
    }
    .img14 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/1244538136_orig.png);
    }
    .img15 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/78167032_orig.png);
    }
    .img16 {
        background-image: url(http://hellomido.weebly.com/uploads/2/5/2/6/25268620/1720909701_orig.png);
    }
}


}