@import url(../css/aside.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    padding: 0;
    margin: 0;
}

.container {
    box-sizing: border-box;
    width: 80vw;
    position: absolute;
    right: 0;
    background: linear-gradient(to bottom right, white, pink);
    font-family: sans-serif;
}

.CG,
.monster {
    border-bottom: 5px dashed purple;
}

.cards {
    height: 300px;
    list-style-type: none;
    position: relative;
    margin: 15px 0px 0px 40px;
    cursor: pointer;
    .title {
        margin-bottom: 20px;
        h2 {
            font-weight: 700;
        }
    }
    p {
        margin-left: 10px;
    }
}

.card {
    background: #FFF;
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    position: absolute;
    left: 0px;
    box-shadow: 1px 2px 2px 0 #aaa;
    transition: all 0.4s cubic-bezier(0.63, 0.15, 0.03, 1.12);
    img {
        max-width: 100%;
        height: auto;
    }
}

.card-1 {
    z-index: 1;
    transform: rotateZ(-2deg);
}

.card-2 {
    z-index: 2;
    transform: rotateZ(-7deg);
    transition-delay: 0.05s;
}

.card-3 {
    z-index: 3;
    transform: rotateZ(5deg);
    transition-delay: 0.1s;
}

.card-4 {
    z-index: 4;
    transform: rotateZ(-9deg);
    transition-delay: 0.1s;
}

.card-5 {
    z-index: 5;
    transform: rotateZ(2deg);
    transition-delay: 0.1s;
}

.card-6 {
    z-index: 6;
    top: auto;
    transform: rotateZ(7deg);
    transition-delay: 0.1s;
}

.transition {
    .card-1 {
        transform: rotateZ(0deg);
    }
    .card-2 {
        left: 220px;
        transform: rotateZ(0deg);
    }
    .card-3 {
        left: 440px;
        transform: rotateZ(0deg);
    }
    .card-4 {
        left: 660px;
        transform: rotateZ(0deg);
    }
    .card-5 {
        left: 880px;
        transform: rotateZ(0deg);
    }
    .card-6 {
        top: 330px;
        transition: top 0.5s ease-in-out;
        transform: rotateZ(0deg);
    }
}