@import url(../css/aside.css);

* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: pink;
    box-sizing: border-box;
    padding: 2%;
    width: 80vw;
    height: 100vh;
    position: absolute;
    right: 0;
}